/* ==========================================
   SIDEBAR
========================================== */

.sidebar{
    position:fixed;
    top:0;
    left:0;

    width:256px;
    height:100vh;
    
    background:linear-gradient(
        180deg,
        #3b82f6 0%,
        #050561 100%
    );

    color:#fff;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    padding:18px 12px;

    box-sizing:border-box;

    overflow-y:auto;
}

/* ==========================================
   HEADER
========================================== */

.sidebar-header{
    display:flex;
    align-items:center;
    gap:12px;

    margin-bottom:28px;
}

.sidebar-logo{
    width:42px;
    height:42px;
    object-fit:contain;
}

.sidebar-header h2{
    margin:0;
    font-size:17px;
    font-weight:700;
    line-height:1.2;
}

.sidebar-header p{
    margin-top:2px;
    font-size:12px;
    color:#dbeafe;
}

/* ==========================================
   MENU
========================================== */

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.sidebar-link{
    display:flex;
    align-items:center;
    gap:14px;

    color:#ffffff;
    text-decoration:none;

    padding:12px 14px;

    border-radius:14px;

    font-size:16px;
    font-weight:500;

    transition:.25s;
}

.sidebar-link svg{
    font-size:22px;
}

.sidebar-link:hover{
    background:rgba(255,255,255,.10);
}

.sidebar-link.active{
    background:rgba(255,255,255,.18);
    font-weight:600;
}

/* ==========================================
   USER
========================================== */

.sidebar-user{
    display:flex;
    align-items:center;
    gap:12px;

    padding:18px 10px 6px;

    border-top:1px solid rgba(255,255,255,.18);
}

.user-avatar{
    font-size:42px;
}

.sidebar-user h4{
    margin:0;
    font-size:15px;
    font-weight:600;
}

.sidebar-user span{
    display:block;
    margin-top:2px;
    font-size:12px;
    color:#dbeafe;
}