.login-container {
  min-height: 100vh;
  background: #f4f6fb;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 450px;

  background: white;
  border-radius: 22px;

  padding: 40px 32px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

  position: relative;
}

.login-card::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;

  border-radius: 22px 22px 0 0;

  background: linear-gradient(
    90deg,
    #2563eb,
    #4f46e5,
    #ef4444
  );
}

.logo-wrapper {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;

  border-radius: 20px;
}

.login-card h1 {
  text-align: center;

  color: #172554;

  font-size: 32px;

  margin-bottom: 6px;
}

.subtitle {
  text-align: center;

  color: #64748b;

  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;

  margin-bottom: 8px;

  color: #334155;

  font-weight: 600;
  font-size: 14px;
}

.input-wrapper {
  border: 1px solid #dbe3f0;

  border-radius: 14px;

  padding: 14px 16px;

  background: white;
}

.input-wrapper input {
  width: 100%;

  border: none;
  outline: none;

  font-size: 15px;

  background: transparent;
}

.login-btn {
  width: 100%;

  margin-top: 10px;

  border: none;

  padding: 15px;

  border-radius: 14px;

  background: #2563eb;

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 10px 25px rgba(
    37,
    99,
    235,
    0.25
  );

  transition: all 0.2s ease;
}

.login-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}

.demo-box {
  margin-top: 24px;

  background: #eef4ff;

  border: 1px solid #d5e3ff;

  border-radius: 14px;

  padding: 16px;

  color: #1d4ed8;
}

.demo-box p {
  margin-top: 4px;
  font-size: 14px;
}